.text-compra {
    color: #97c93e !important;
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47, 25%, #1e5372);
}

#footer a {
    color: white;
}

#header img {
    width: 110px;
}

#main .carousel img {
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(50%)
}

#carousel {
    position: relative;

}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

.btn-color {
    background-color: #97c93e;
    color: white;
}

.btn-color:hover{
    background-color: #82ad36;
}

#lfecha img {
    max-width: 100%;
}